html{
  background: linear-gradient(to top, white, white, #845ec2 );
}

body {
  width: 100%;
  min-width: 920px;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}

body h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid black;
}

figure {
  float: left;
  width: 24%;
  margin:150px 2.5px 120px 2.5px;
}
